.progress-container {
    position: relative;
  }
  
  .progress-label {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 12px;
  }
  
  .k-progress-status {
    display: none !important;
  }
  