.dashboard-page {
  .c-panel {
    background: #f0edec;

    .widget-section{
      margin-bottom: 20px;
    }

    .widget-column {
      border-radius: 16px;
      padding: 10px 20px;
      background-color: #fff;
      border-style: none;
      display: flex;
      flex-direction: column;
      text-align: center;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.04);
      height: 100%;

      .widget-error-container{
        .c-message{
          border: none;
          padding: 24px 0;
        }
      }

      .widget-column-section {
        text-align: left;
        .widget-column-title{
          margin-bottom: 10px;
        }
        .widget-column-content {
          .widget-column-description {
            display: flex;
            justify-content: space-between;
            .widget-column-label {
              font-weight: bold;
              font-size: 14px;
            }
            .widget-column-value {
              color: #ae0a46;
              font-size: 14px;
              .currency {
                font-weight: bold;
              }

            }
          }
        }
        .widget-column-count{
          a{
            color: unset;
          }
        }

        .widget-column-difference {
          text-align: left;
          margin: 5px 0;
          .difference-section{
            display: flex;
          }
          .k-icon {
            color: #3e332d;
            font-size: 24px;
            opacity: 0.6;
          }
          .count-labels-text {
            color: #007997;
            font-size: 14px;
            .currency {
              font-weight: bold;
            }
            .difference{
              color: #007997 !important;
            }
          }
        }

        .widget-dataset{
          margin: 30px 0 35px;
          .widgetmessage{
            color: unset;
            margin-bottom: 5px;
            display: block;
          }
          .widget-dataset-warning,
          .widget-dataset-info,
          .widget-dataset-error {
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: 14px;
            .widget-dataset-section {
              font-size: 24px;
              display: flex;
              align-items: center;
            }
          }
          .widget-dataset-info .label-text {
            color: #222;
          }
          .widget-dataset-warning .label-text {
            color: #222;
          }
          .widget-dataset-error .label-text {
            color: #222;
          }
  
          .widget-dataset-warning {
            margin: 10px 0;
          }
  
        }
      }

      .k-chart{
        text{
          font-size: 12px !important;
        }
      }
    }
  }
}
